body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
                "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 400%;
  padding: 150px 150px 50px 150px;
}

p, h1 {
  text-align: center;
}

p {
  padding-top: 20px;
  letter-spacing: .5px;
}

.socialbuttons {
  text-align: center;
}
